<!DOCTYPE html>
<html>
<head>
    <title>Music</title>
</head>
<body>
    <div class="wrapper">
        <header class="main-header box-shadow">
            <img class="main-logo" src="../images/logo.png" alt="logo">
        </header>
        <section class="content-bottom three-column">
            <aside class="sidebar three-column">
                <ul class="sidebar-links">
                    <br>
                 <h1>Home</h1>
                    <br>
                    <br>
                    <li><a href="">Home</a></li>
                    <li><a href="../app/about.html">About Us</a></li>
                    <li><a href="../app/contact.html">Contact Us</a></li>
                    <li><a href="../index.html">LogOut</a></li>                
                </ul>
            </aside>
            <article class="main-content three-column-content">
                <div>
                    <h1 style="color: white" >Hottest Albums</h1>
                   <table>
<tr>
							<td><img  src="../images/gallery/1.jpg" alt="song">
                            <form action="../app/index01.html"> 
                                <h1 style="color:white">$0.99</h1>
                          <button type="submit" class="login-button">Buy Now</button>  
                        </form>                                 
                            <audio src="media/TiestoDemo.mp3" controls></audio>
							</td>
                            <td><img  src="../images/gallery/2.jpg" alt="song">
                            <form action="../app/index02.html">
                                <h1 style="color:white">$0.99</h1>
                          <button type="submit" class="login-button">Buy Now</button>  
                        </form>
                            <audio src="media/TupacDemo.mp3" controls></audio>
                            </td>
							<td><img  src="../images/gallery/3.jpg" alt="song">
                            <form action="../app/index03.html">
                                <h1 style="color:white">$0.99</h1>
                          <button type="submit" class="login-button">Buy Now</button>  
                        </form>
                             <audio src="media/LinkinParkDemo.mp3" controls></audio>
                            </td>
						</tr>
						<tr>
							<td><img  src="../images/gallery/4.jpg" alt="song">
                            <form action="../app/index04.html">
                                <h1 style="color:white">$0.99</h1>
                          <button type="submit" class="login-button">Buy Now</button>  
                        </form>
                              <audio src="media/ChrisBrownDemo.mp3" controls></audio>
                            </td>
							<td><img  src="../images/gallery/5.jpg" alt="song">
                            <form action="../app/index05.html">
                                <h1 style="color:white">$0.99</h1>
                          <button type="submit" class="login-button">Buy Now</button>  
                        </form>
                            <audio src="media/MichaelJacksonDemo.mp3" controls></audio>
                            </td>
							<td><img  src="../images/gallery/6.jpg" alt="song">
                            <form action="../app/index06.html">
                                <h1 style="color:white">$0.99</h1>
                          <button type="submit" class="login-button">Buy Now</button>  
                        </form>
                            <audio src="media/JustinBieberDemo.mp3" controls></audio>
                            </td>
						</tr>	
            </table>
                     
              
                </div>
            </article>
           
        </section>
    </div>
    <footer class="footer box-shadow">
        <p class="copyright">
            (c) Created by Touhar Fang & Chee Nou Lee & Steven Lee
        </p>
    </footer>
</body>
